.search,
.search-result {
    width: 361px;
}
.search {
    position: relative;
    width: 361px;
    height: var(--search-height);
    padding-left: 16px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-boder-radius);
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        padding-right: 40px;
        color: var(--black);
        background: #f1f1f2;
        font-size: 1.6rem;
        caret-color: var(--primary); // con trỏ chuột màu đỏ
        font-family: var(--font-family);
    }
    // khoong co placeholder thi ap dung css
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        background: rgba(22, 24, 35, 0.12);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.43rem;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    font-size: 16px;
    color: rgba(22, 24, 35, 0.34);
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }

    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-boder-radius);
    border-bottom-right-radius: var(--search-boder-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        cursor: pointer;
        background: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
